.pane {
    -fx-min-height: 150;
    -fx-min-width: 500;
    -fx-padding: 5;
}

.inputField {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-font-size: 17;
}

.result {
    -fx-font-size: 17;
}